<div>
  <h1>Booking Confirmation</h1>
  <h2>My Basket</h2>
  <p>Service wil be in XX minutes</p>
</div>

<div class="order_summary">
  <h2>Items</h2>
  <%= @booking.services.each do |service| %>
    <ul class="flex">
      <li><%= service.repair_name %></li>
      <li><%= service.cost %></li>
    </ul>
  <% end %>
</div>
<%= @booking.user.email %>

<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="form-inputs">
  <%= f.input :comment %>
  <%= f.input :photos, as: :file, input_html: { multiple: true }  %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>

<%= @booking.photos.each do |photo %>
  <%= cl_image_tag photo.key, height: 100, width: 150, crop: :fill %>
<% end %>

<div id="map"
  style="width:100%; height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%# Image to Display %>
<%= cl_image_tag("az9cictgbyryvdhvpaxj",
      width: 400, height: 300, crop: :fill) %>

<div class="flex">
  <h2>Total</h2>
  <p>"£Insert Total"</p>
</div>
