
<div class="main">
  <h1 class='title'>Booking Summary</h1>
  <div class="card-show_booking">
    <div class="card_image"><img src="https://www.guildford-dragon.com/wp-content/uploads/2020/08/Bike-Bros-logo.png"></div>
    <div class="card_content-show">
      <h2 class="card_title"><%=  @booking.service.repair_name %> </h2>
      <p class="card_text"><i class="fas fa-map-marker-alt"></i> <%= @booking.booking_location%></p>      <p class="card_text"><%= icon('fas', 'bicycle') %> <%= @booking.comment %> <%= icon('fas', 'money-bill-wave') %> £<%= @booking.service.cost %></p>
    </div>
    <div>
      <%= @booking.photos.each do |photo| %>
      <%=  cl_image_tag photo.key, height: 100, width: 150, crop: :fill %>
      <% end %>
    </div>
    <div>
      <div class="map_confirmation", class="flex-container" id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <h4><%=  link_to 'Edit your booking', edit_booking_path(@booking)%> </h4>
</div>
