<!-- Mechanic cards -->
<div class="main">
  <h1 class="title_index">Here are services <br> matching '<%= params["search_by_service"] %>'</h1>
    <ul class="cards">
      <% @services.each do |service| %>
        <li class="cards_item">
        <%= link_to user_path(service.user) do %>
        <div class="card">
          <div class="card_image">
            <% if service.user.photo.attached? %>
              <%= cl_image_tag service.user.photo.key, height: 240, width: 360, crop: :fill %>
            <% else %>
              <img src="https://www.guildford-dragon.com/wp-content/uploads/2020/08/Bike-Bros-logo.png">
            <% end %>
          </div>
            <div class="card_content">
              <h2 class="card_title"><%= service.user.company_name %></h2>
              <p class="card_text"><%= icon('fas', 'map-marker-alt') %></i> <%= service.user.location  %></p>
              <p class="card_text"><%= icon('fas', 'bicycle') %> <%= service.repair_name %> </p>
              <p class="card_text"><%= icon('fas', 'money-bill-wave') %> <%= humanized_money_with_symbol(service.price) %></p> 
              <%= icon('fas', 'star', style: 'color: white')  * service.average_rating.to_i %><%= icon('far', 'star', style: 'color: white') * (5 - service.average_rating.to_i) %>
            </div>
          </div>
        <% end %>
        </li>
      <% end %>
    </ul>
</div>


