<% if @user.mechanic? %>
  <h1><%= @user.company_name %></h1>
  <h2><%= @user.location %></h2>
  <% @user.services.each do |service| %>
    <%= service.repair_name %>
    <%= service.cost %>
  <% end %>
<% else %>
  <h1>User is not mechanic</h1>
<% end %>


<% <div class="main">
  <div class="card-show">
    <div class="card_image"><img src="https://www.guildford-dragon.com/wp-content/uploads/2020/08/Bike-Bros-logo.png"></div>
    <div class="card_content-show">
      <h2 class="card_title"><%= @user.company_name %></h2>
      <% <p class="card_text"><i class="fas fa-map-marker-alt"></i> <%= @user.location %></p>
    <% </div>
    <div class="card_image"><img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/w_1280,c_limit/GoogleMapTA.jpg"></div>
  </div>
  <%= link_to new_user_booking_path(@user) do%>
  <button class="btn card_btn">Book Now</button>
  <% end %>
</div>
