<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <%= link_to root_path do %>
    <div class="logo">

      <!-- Logo Placeholder for Inlustration -->
      <% if user_signed_in? %>
        <% if current_user.mechanic == true %>
          <i id='bikeimage' class="fa-solid fa-wrench"></i> Bike Fix</a>
        <% elsif current_user.mechanic == false %>
          <i id='bikeimage' class="fa-solid fa-person-biking"></i> Bike Fix</a>
        <% else %>
        <i class="fas fa-bicycle"></i> Bike Fix</a>
        <% end %>
      <% else %>
        <i id='bikeimage_out' class="fas fa-bicycle"></i> Bike Fix</a>
      <% end %>
    </div>
    <% end %>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><%= link_to "Home", root_path  %></li>
      <li><%= link_to "Profile", profile_path %></li>
      <li><%= link_to "Bookings", bookings_path %></li>
    </ul>
  </div>
</nav>

<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
</div>

<div class="overlay-menu">
  <ul id="menu">
    <li><%= link_to "Home", root_path  %></li>
    <li><%= link_to "Profile", profile_path %></li>
    <li><%= link_to "Bookings", bookings_path %></li>
  </ul>
</div>
