<div class="main">
  <div class="card_image">
      <div class="map_confirmation" id="map"
        data-marker="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  <div class="cards_confirmation">
    <div class="cards_item_confirmation">
      <div class="card_confirmation">
        <div class="card_content_show">  
          <p class="card_confirmation_text"><strong><%= @mechanic.company_name %></strong> will be with you at <strong><%#= @time.strftime("%H:%M") %></strong></p>
            
            <div class="display-summary toggle-container">
              <div class="heading-wrapper"><p class="toggle-heading"><strong>Your Order</strong></p>
                <i class="fas fa-check-circle toggle-trigger"></i>
              </div>
    
              <div class="order_summary toggle-content">
              <%= @booking.service.repair_name %><strong>£<%= @booking.service.cost %></strong>
              </div>
            </div>

            <div class="display-summary toggle-container">
              <div class="heading-wrapper"><p class="toggle-heading-mechanic"><strong>Your Mechanic</strong></p>
                <i class="fas fa-wrench toggle-trigger-mechanic"></i>
              </div>
                  
              <div class="order_summary toggle-content">
                <%= @mechanic.company_name %>
              </div>
            </div>

            <div class="display-summary toggle-container">
              <div class="heading-wrapper"><p class="toggle-heading-map"><strong>Your Location</strong></p>
                <i class="fas fa-map-marked-alt toggle-trigger-map"></i>
              </div>
                
              <div class="order_summary toggle-content">
                <p><%= @booking_location %></p>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>


  