<h1> Bike issue? </h1>
<div class="searchbar">
  <%= form_tag users_path, method: "GET" do %>
  <%= text_field_tag :search_by_service, params[:search_by_service],
  placeholder: "Tyre Puncture...",
  class: "searchbox"%>
  <%= submit_tag "Search",
  class: "search_button" %>
  <% end %>
</div>

<div class="near_me">
    <h4> Nearby Bike Shops </h4>
  </div>
  <div class="cards">
    <% @users[0..3].each do |mechanic| %>
    <div class="card rounded" style="width: 16rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to mechanic.company_name, user_path(mechanic) %></h5>
        <p> <%=  mechanic.insta_availability%> </p>

      </div>
    </div>
    <% end %>
  </div>
