
<% if current_user.mechanic %>
<h2 class="profile-title"> Hi <%= current_user.company_name %> </h2>
<div class="booking-title">
Upcoming Bookings</div>
<!-- cards for individual bookings -->
<% current_user.services.each do |service| %>
  <% service.bookings.each do |booking| %>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="mb-0">
               <h5><%= booking.comment %></h5> <br>
               <p><%= booking.booking_location %> </p>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
  <% end %>
<% end %>
<% else %>
<h2 class="title">Hi <%= current_user.first_name %> </h2>
<div class="booking-title">
Upcoming Bookings</div>
<!-- cards for individual bookings -->

<% current_user.bookings.each do |booking| %>
<%= link_to booking_path(booking) do %>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="mb-0">
               <h5><%= booking.service.user.company_name %></h5> <br>
               <p><%= booking.booking_location %> </p>
               <p><%= booking.comment %></p>
              <%= link_to 'Chat to your mechanic', chatroom_path(booking.chatroom) %>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
    <% end %>
<% end %>
<% end %>

<%= link_to 'edit your profile', edit_user_registration_path(current_user) %>

