
<% if current_user.mechanic = 'true' %>
<h2 class="title">Hi  <%= current_user.company_name %> </h2>
<p>Here are your upcoming bookings</p>
<%= bookings = current_user.bookings  %>
<%= bookings.each do |booking| %>
<%= booking.user.first_name %>
<%= booking.service.repair_name %>
<%= booking.location %>
<%= booking.comment %>
<%= booking.datetime %>
<% end %>
<% else %>
<h2 class="title">Hi  <%= current_user.first_name %> </h2>
<p>Here are your upcoming bookings</p>
<%=  %>
<% end %>
